/* Heading
------------------------------*/
.navbar-header .navbar-brand {
  color: white;
  font-family: 'Reenie Beanie', cursive;
  font-weight: 700;
  font-size: 45px;
}

#my-name: hover{
  color: #73D2DE;
}

#lower-brand {
  color: white;
  font-family: 'Reenie Beanie', cursive;
  font-size: 15px;
  padding-top: 25px;
}
#my-navbar {
  background: #2E4057;
  padding: 15px;
  float: 10px;
}
.navbar-inverse .navbar-nav>li>a {
  color: white;
  font-family: 'Varela Round', sans-serif;
  font-size: 15px;
  font-weight: 700;
  padding-right: 40px;
}
.navbar-inverse .navbar-nav>li>a:hover {
  color: #73D2DE;
}
#blog-button,  #submit {
  color:  white;
  font-family: 'Varela Round', sans-serif;
  font-size: 15px;
  font-weight: 700;
  padding-left: 20px;
  padding-right: 20px;
}
.jumbotron {
  margin: 0 auto;
  background-color: white;
}
.blog-title {
  font-family: 'Varela Round', sans-serif;
  color: black;
}
#post-time {
  padding-left: 10px;
}
/* Images
------------------------------*/

 .center {
      display: block;
      margin-left: auto;
      margin-right: auto;
      padding-bottom: 50px;
  }

 img {
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);

  }

}
/* Body
------------------------------*/
body {
  background-color: white;
}
#my-photos {
  margin-top: 50px;
  margin-bottom: 50px;
}
.container>h1 {
  font-family: 'Varela Round', sans-serif;
  font-size: 25px;
  padding-top: 10px;
}
.container>p{
  font-family: 'Varela Round', sans-serif;
  font-size: 17.5px;
}
.container>h2 {
  font-family: 'Varela Round', sans-serif;
  font-size: 20px;
}

/* collabsible button */
.collapsible {
  background-color: #DFE0E2;
  color: #444;
  cursor: pointer;
  padding: 10px;
  margin-bottom: 15px;
  width: 45%;
  border: none;
  text-align: center;
  outline: none;
  font-weight: 700;
  font-family: 'Varela Round', sans-serif;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #eee;
}

.content>p {
  font-family: 'Varela Round', sans-serif;
  font-size: 17.5px;
}

#header-container {
  float: inherit;
  margin-top: 50px;
  margin-bottom: 0px;

}
#blog-header {
  float: inherit;
  margin-top: 30px;
  margin-bottom: -40px;
}
/* Sidebar
------------------------------*/
.sidebar-left .main{
  float:right;
}
.idebar-left .sidebar{
  float:left;
}

.sidebar-right .main{
  float:left;
}
.idebar-right .sidebar{
  float:right;
}
/* Footer
------------------------------*/
.footer{
  display: block;
}
#contact-info {
  background-color: white;
  padding-bottom: 10px;
  margin-top: 20px;
  padding-top: 0 auto;
}
/* Style all font awesome icons */
.fa {
    margin: 5px;
    margin-bottom: 15px;
    padding: 10px;
    font-size: 20px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}
/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.5;
}
/* Footer
------------------------------*/
#comment-form {
}
.well>h4 {
  font-family: 'varela Round', sans-serif;
  font-weight: 600;
}

* {
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: #2E4057;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: white;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #2E4057;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}
