/* Heading
------------------------------*/
.navbar-header .navbar-brand {
  color: white;
  font-family: 'Pacifico', cursive;
  font-weight: 700;
  font-size: 38px;
}
#lower-brand {
  color: white;
  font-family: 'Pacifico', cursive;
  font-size: 15px;
  padding-top: 25px;
}
#my-navbar {
  background: #2E4057;
  padding: 15px;
}
.navbar-inverse .navbar-nav>li>a {
  color: white;
  font-family: 'Varela Round', sans-serif;
  font-size: 15px;
  font-weight: 700;
  padding-right: 40px;
}
.navbar-inverse .navbar-nav>li>a:hover {
  color: #73D2DE;
}
#blog-button {
  color:  white;
  font-family: 'Varela Round', sans-serif;
  font-size: 15px;
  font-weight: 700;
  padding-left: 20px;
  padding-right: 20px;
}
.jumbotron {
  margin: 0 auto;
}
/* Images
------------------------------*/
img {
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(0); /* Google Chrome, Safari 6+ & Opera 15+ */
    -webkit-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
    margin-bottom:20px;
}

img:hover {
  filter: none; /* IE6-9 */
  -webkit-filter: grayscale(0); /* Google Chrome, Safari 6+ & Opera 15+ */

}
/* Body
------------------------------*/
body {
  background-color: #CEE7E6;
}
.container>h1 {
  font-family: 'Varela Round', sans-serif;
  font-size: 40px;
}
#header-container {
  float: inherit;
  margin-top: 20px;
  margin-bottom: -20px;
}
#blog-title {
  font-family: 'Varela Round', sans-serif;
  margin-top: 0 auto;
}
